.bluebuttons {
  background-color: #000654;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: none;
  font-weight: bold;
  width: 50%;
}
.twobluebuttons {
  background-color: #000654;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: none;
  font-weight: bold;
  width: 25%;
}
.redbuttons {
  background-color: #d42729;
  width: 80%;
  padding: 10px 0;
  margin: 2% 0;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: 3px solid #fefdf7;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
/*-----------------------------------
...............HEADER.................
----------------------------------- */
header .flexheader {
  background-color: #000654;
  color: #fefdf7;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 2%;
  padding-top: 25px;
  min-height: 200px;
}
header .flexheader .inner {
  background: url('../img/american-flag.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: relative;
}
header .flexheader .inner .flexit {
  height: 300px;
  position: absolute;
  z-index: 1;
  width: 100%;
}
header .flexheader .inner .icon img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 125px;
}
header .flexheader .inner p {
  text-align: center;
}
header .flexheader .inner #headertitle {
  font-size: 2rem;
  padding: 3% 2%;
}
header .flexheader .inner #headersubtitle {
  font-size: 1rem;
}
header .flexheader .inner .headericons {
  display: none;
}
header .flexheader .blackcolor {
  background-color: #000000;
  height: 300px;
  opacity: 0.8;
}
header .desktopnav {
  display: none;
}
/*****this is controlling hamburger menu *****/
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #ffffff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #ffffff;
  border: 0;
  font-size: 3em;
  line-height: 75px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #000654;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu li:hover {
  display: block;
  background: #d42729;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #ffffff;
}
.menu ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
}
.menu a:hover {
  text-decoration: none;
  color: #ffffff;
}
/*hamburger menu ends */
/*-----------------------------------
...............DESKTOP DROPDOWN MENU.................
----------------------------------- */
#hide {
  display: none;
}
/*-----------------------------------
...............BODY.................
----------------------------------- */
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', serif;
  padding: 2%;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2,
h3 {
  font-size: 1.25rem;
}
#stretchimage {
  display: block;
  height: 100%;
  min-height: 300px;
}
section {
  padding-bottom: 2%;
}
.offwhite {
  background-color: #fefdf7;
}
.offwhite article figure img {
  border: 15px solid #d42729;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
}
.offwhite .buttonblue {
  background-color: #000654;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: none;
  font-weight: bold;
  width: 50%;
  display: block;
  margin: 4% auto;
}
.blue {
  background-color: #000654;
  color: #fefdf7;
}
.blue article figure {
  padding-left: 4%;
}
.blue article figure img {
  border: 15px solid #fefdf7;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 4% auto;
}
.blue .flexredbuttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.blue .buttonred {
  background-color: #d42729;
  width: 80%;
  padding: 10px 0;
  margin: 2% 0;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: 3px solid #fefdf7;
}
main p,
main figcaption {
  font-family: 'Nunito', sans-serif;
  font-size: .8125rem;
}
main p {
  padding: 1% 2%;
  font-size: .9rem;
}
.thriftfont {
  font-size: .8125rem;
  text-align: center;
}
aside {
  display: none;
}
/*-----------------------------------
...............FOOTER.................
----------------------------------- */
footer {
  background-color: #000654;
  color: #fefdf7;
  padding: 2% 0;
}
footer .iconsfooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
footer .iconsfooter figure figcaption {
  font-family: 'Nunito', sans-serif;
}
footer .iconsfooter .iconflexfooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 0 5px 5px;
}
footer .iconsfooter .iconflexfooter img {
  width: 20px;
}
.footerlogo {
  display: none;
}
/*-----------------------------------
...............VOLUNTEER PAGE.................
----------------------------------- */
.centered {
  position: relative;
  text-align: center;
}
.centered figure {
  margin: 5% 0;
}
.centered figure img {
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 300px;
}
.centered a:link,
.centered a:visited {
  padding: 2% 5%;
}
.centered a:link,
a:visited {
  padding: 2% 5%;
}
.centered figcaption {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #fefdf7;
  opacity: 0.8;
  padding: 15px 0;
}
#blueborder {
  border: 15px solid #000654;
}
#volunteerpage {
  display: block;
  text-align: center;
}
#volunteerpage #volunteersbuttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
/*-----------------------------------
...............THRIFT PAGE.................
----------------------------------- */
.blueborderpadding {
  border: 15px solid #000654;
  padding: 10px;
}
.redborderpadding {
  border: 15px solid #d42729;
  padding: 10px;
}
.picright,
.picleft {
  padding: 5% 0;
}
.picright h3,
.picleft h3 {
  text-align: center;
}
.picright figure img,
.picleft figure img {
  max-width: 400px;
  display: block;
  margin: auto;
}
@media (min-width: 990px) {
  header .desktopmenu {
    border-bottom: 3px solid #d42729;
    background-color: #000654;
  }
  header .desktopmenu button {
    display: inline;
    background-color: #000654;
    padding: 15px;
    color: #fefdf7;
  }
  header .desktopmenu ul li {
    width: 160px;
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #d42729;
    color: #fefdf7;
  }
  header .desktopmenu ul li a:link,
  header .desktopmenu ul li a:visited {
    color: #fefdf7;
    font-family: 'Nunito', sans-serif;
    font-size: .75rem;
  }
  header .desktopmenu ul li:hover {
    text-decoration: underline;
    background-color: #000654;
    font-weight: 600;
  }
  header .flexheader .inner .flexit {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  header .flexheader .inner .flexit .icon img {
    padding: 10px;
  }
  header .flexheader .inner .headertext {
    flex-grow: 2;
  }
  header .flexheader .inner .headertext #headertitle,
  header .flexheader .inner .headertext #headersubtitle {
    text-align: center;
  }
  header .flexheader .inner .headertext #headersubtitle {
    font-style: italic;
  }
  header .flexheader .inner .headericons {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
  }
  header .flexheader .inner .headericons figure {
    flex-grow: 1;
  }
  header .flexheader .inner .headericons figure img {
    width: 100%;
    max-width: 15px;
  }
  header .flexheader .inner .headericons .iconflex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0 5px 5px;
  }
  header .flexheader .inner .headericons .iconflex figcaption {
    font-size: .65rem;
    padding-left: 5px;
  }
  .menu,
  .hamburger,
  .cross {
    display: none;
  }
  .offwhite {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .offwhite article figure img {
    width: 100%;
    max-width: 550px;
    margin-top: 1%;
  }
  .offwhite article figure img #gigipic {
    height: 100%;
    min-height: 500px;
  }
  .blue {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }
  .blue article {
    width: 50%;
  }
  .flexlayout {
    display: flex;
    flex-flow: row nowrap;
  }
  aside {
    display: block;
    flex-grow: 1;
    background-color: #d42729;
    padding: 2%;
  }
  aside ul {
    justify-content: center;
  }
  aside ul li {
    padding-top: 5%;
    padding-bottom: 15%;
    font-family: 'Nunito', sans-serif;
  }
  .mainbody {
    flex-grow: 3;
    padding: 0 2%;
  }
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 3%;
  }
  /*-----------------------------------
...............VOLUNTEER PAGE.................
----------------------------------- */
  #volunteerpage {
    display: block;
  }
  #volunteerpage article {
    width: 100%;
  }
  .centered {
    display: flex;
    flex-flow: row nowrap;
    padding: 1% 3%;
    justify-content: center;
  }
  .offwhite #volunteerbuttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
  }
  .offwhite .buttonblue {
    background-color: #000654;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color: #fefdf7;
    text-align: center;
    border: none;
    font-weight: bold;
    width: 25%;
  }
  .footerlogo {
    display: block;
  }
  /*-----------------------------------
...............THRIFT PAGE.................
----------------------------------- */
  .picright {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .picright figure {
    flex-grow: 2;
  }
  .picright article {
    flex-grow: 3;
  }
  .picleft {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
  }
}
