.bluebuttons {
  background-color: #000654;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: none;
  font-weight: bold;
}
.redbuttons {
  background-color: #d42729;
  width: 80%;
  padding: 10px 0;
  margin: 2% 0;
  font-family: 'Nunito', sans-serif;
  color: #fefdf7;
  text-align: center;
  border: 3px solid #fefdf7;
}
