@import "variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*-----------------------------------
...............HEADER.................
----------------------------------- */

header {
  .flexheader {
    background-color: @color-blue;
    color: @color-offwhite;
    font-family: @font-headers;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
		padding-top: 25px;
      .icon {
        img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 125px;
        }
      }
      p {
        text-align: center;
      }
    #headertitle {
      font-size: 2rem;
      padding: 3% 2%;
    }
    #headersubtitle {
      font-size: 1rem;
    }
    .headericons {
      display: none;
    }
  }
    .desktopnav {
      display: none;
    }
}

/*****this is controlling hamburger menu *****/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:3em;
  line-height:75px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#000654;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#d42729; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none;}
.menu a{text-decoration:none; color:#ffffff;}
.menu a:hover{text-decoration:none; color:#ffffff;}

/*hamburger menu ends */

/*-----------------------------------
...............BODY.................
----------------------------------- */


body {
  overflow-x: hidden;
}

h1, h2, h4 {
  font-family: @font-headers;
  padding: 2%;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.25rem;
}

#stretchimage {
  display: block;
  height: 100%;
  min-height: 300px;
}

section {
  padding-bottom: 2%;
}

.offwhite {
  background-color: @color-offwhite;
  article {
    figure {
      img {
        border: 15px solid @color-red;
				width: 100%;
				max-width: 600px;
				display: block;
				margin: auto;
				}
      }
    }
    .buttonblue {
      .bluebuttons ();
      display: block;
      margin: 4% auto;
    }
  }

.blue {
  background-color: @color-blue;
  color: @color-offwhite;
	article {
		figure {
			padding-left: 4%;
			img {
				border: 15px solid @color-offwhite;
				width: 100%;
				max-width: 500px;
				display: block;
				margin:  4% auto;
				}
			}
		}
  .flexredbuttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .buttonred {
    .redbuttons ();
  }
}

main {
  p, figcaption {
    font-family: @font-body;
  }
  p {
    padding: 1% 2%;
    font-size: 1rem;
  }
}

aside {
	display: none;
}


/*-----------------------------------
...............FOOTER.................
----------------------------------- */

footer {
	background-color: @color-blue;
	color: @color-offwhite;
  padding: 2% 0;
  .iconsfooter {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			figure {
				figcaption {
					font-family: @font-body;
				}
			}
			.iconflexfooter {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: flex-start;
				padding: 5px 0 5px 5px;
				img {
					width: 20px;
				}
	}
}
}

.footerlogo {
  display: none;
}

/*-----------------------------------
...............VOLUNTEER PAGE.................
----------------------------------- */

.centered {
  position: relative;
  text-align: center;
	figure {
		margin: 5% 0;
		img {
			width: 100%;
			height: 100%;
			max-width: 550px;
			max-height: 300px;
		}
	}
}

.centered a:link, a:visited {
    padding: 2% 5%;
}

.centered figcaption {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: @color-offwhite;
  opacity: 0.8;
	padding: 15px 0;
}

#blueborder {
		border: 15px solid @color-blue;
}

#volunteerpage {
	display: block;
	text-align: center;
	#volunteersbuttons {
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
	}
}

/*-----------------------------------
...............THRIFT PAGE.................
----------------------------------- */

#blueborderpadding {
		border: 15px solid @color-blue;
		padding: 10px;
}

#redborderpadding {
	border: 15px solid @color-red;
	padding: 10px;
}


@media (min-width: 990px) {
        header {
					.desktopnav {
						display: inline;
						ul {
							display: flex;
							flex-flow: row nowrap;
							justify-content: space-between;
							align-items: center;
							background-color: @color-blue;
							border-bottom: 3px solid @color-red;
							li {
								list-style-type: none;
								padding:  1% 5% 2% 5%;
								a:link, a:visited {
									color: @color-offwhite;
									font-family: @font-body;
									font-size: .75rem;
								}
								a:hover {
									text-decoration: underline;
									color: @color-red;
									font-weight: 600;
								}
							}
							li:nth-child(2) {
								text-align: center;
								padding-right: 70px;
							}
							li:nth-child(3) {
								text-align: center;
							}
						}
					}
					.flexheader {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: space-between;
						.icon {
							img {
								padding: 10px;
							}
						}
						.headertext {
							flex-grow: 2;
							#headertitle, #headersubtitle {
								text-align: center;
							}
							#headersubtitle {
								font-style: italic;
							}
						}
						.headericons {
          		display: flex;
          		flex-flow: column nowrap;
							padding: 10px;
							figure {
								flex-grow: 1;
								img {
								width: 100%;
								max-width: 15px;
								}
							}
							.iconflex {
								display: flex;
								flex-flow: row nowrap;
								align-items: center;
								padding: 5px 0 5px 5px;
								figcaption {
									font-size: .65rem;
									padding-left: 5px;
								}
							}
						}
    			}
			}

			.menu, .hamburger, .cross {
				display: none;
			}

.offwhite {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	article {
		width: 50%;
		figure {
			img {
				width: 100%;
				max-width: 550px;
				margin-top: 1%;
			}
		}
	}
}

.blue {
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
		article {
		width: 50%;
	}
}

.flexlayout {
	display: flex;
	flex-flow: row nowrap;
}

aside {
	display: block;
	flex-grow: 1;
	background-color: @color-red;
	padding: 2%;
	ul {
		justify-content: center;
		li {
			padding-top: 5%;
			padding-bottom: 15%;
			font-family: @font-body;
		}
	}
}


.mainbody {
	flex-grow: 3;
}

footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	padding: 3%;
}

/*-----------------------------------
...............VOLUNTEER PAGE.................
----------------------------------- */

#volunteerpage {
	display: block;
	article {
		width: 100%;
	}
}

.centered {
	display: flex;
	flex-flow: row nowrap;
	padding: 1% 3%;
	justify-content: center;
}

.offwhite {
	#volunteerbuttons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		padding-right: 3%;
	}
	.buttonblue {
		.twobluebuttons ();
	}
}

.footerlogo {
	display: block;
}




		}
