@import "variables";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*-----------------------------------
...............HEADER.................
----------------------------------- */

header {
  .flexheader {
    background-color: @color-blue;
    color: @color-offwhite;
    font-family: @font-headers;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
    .headertype {
      figure {
        img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 125px;
        }
      }
      p {
        text-align: center;
      }
    }
    #headertitle {
      font-size: 2rem;
      padding: 3% 2%;
    }
    #headersubtitle {
      font-size: 1rem;
    }
    .headericons {
      display: none;
    }
  }
    .desktopnav {
      display: none;
    }
}

/*****this is controlling hamburger menu *****/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#ffffff;
  border:0;
  font-size:3em;
  line-height:75px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#000654;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#d42729; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
.menu ul li a:hover {  color: #ffffff; text-decoration:none;}
.menu a{text-decoration:none; color:#ffffff;}
.menu a:hover{text-decoration:none; color:#ffffff;}

/*hamburger menu ends */

/*-----------------------------------
...............BODY.................
----------------------------------- */


body {
  overflow-x: hidden;
}

h1, h2 {
  font-family: @font-headers;
  padding: 2%;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

#stretchimage {
  display: block;
  height: 100%;
  min-height: 300px;
}

section {
  padding-bottom: 2%;
}

.offwhite {
  background-color: @color-offwhite;
  article {
    figure{
      img {
        border: 15px solid @color-red;
      }
    }
    .buttonblue {
      .bluebuttons ();
      display: block;
      margin: 2% auto;
    }
  }
}

.blue {
  background-color: @color-blue;
  color: @color-offwhite;
  .flexredbuttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .buttonred {
    .redbuttons ();
  }
}

main {
  p, figcaption {
    font-family: @font-body;
  }
  p {
    padding: 1% 2%;
    font-size: 1rem;
  }
  figure {
    img {
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 2% auto;
    }
  }
}


/*-----------------------------------
...............FOOTER.................
----------------------------------- */

footer {
  padding: 2% 0;
  .iconsfooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  figure {
    padding: 8px 0;
    img {
      width: 100%;
      max-width: 25px;
    }
  }
}
}

.footerlogo {
  display: none;
}



@media (min-width: 990px) {
        .headericons {
          display: flex;
          flex-flow: column nowrap;
    }
}
